html {
    scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(13deg, #013A6B 50%, #ABCDEF 50%);
    margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }

.loading{
    z-index: 10;
    background-color: navy;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: disc;
    list-style-position: inside;
    text-align: left;
    padding: 1vh 1vw;
}

.green{
    color: green;
}

.purple{
    color: purple;
}

.red{
    color: red;
}

.hamburger {
    display: none;
}

input {
    display: none;
}

.menu {
    display: block;
    position: absolute;
    text-decoration: none;
    font-size: 2em;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.menu-list {
    display: block;
    position: absolute;
    right: 1em;
    top: 0.5em;
    word-spacing: 0.5em;
}

.side-info {
    display: none;
    position: fixed;
    text-decoration: none;
    font-size: 2em;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    bottom: 10vh;
    height: 0;
}

.socials {
    display: grid;
    position: absolute;
    font-size: 30px;
    right: 10px;
    bottom: 0px;
}

.email {
    position: absolute;
    font-size: 30px;
    right: 10px;
    bottom: 150px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

a {
    text-decoration: none;
    color: #093a52;
}

a img {
    width: 50px;
}

a:hover {
    color: cadetblue;
}

.close-menu-btn {
    display: none;
}

section {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    text-align: left;
}

.my_name {
    font-size: 96px;
    text-align: center;
}

.title {
    font-size: 48px;
    text-align: center;
}

.cover {
    position: absolute; 
    border: 1px solid black;
    width: 100px;
}

.about {
    display: flex;
    background-color: rgb(216, 213, 213);
    padding: 30px;
    border-radius: 30px;
    border: 1px solid darkgray;
}

.tech-stack {
    color: #194a61;
    display: inline-block;
}

.tech-unit {
    color: white;
    text-shadow: 0 0 1px black, 0 0 3px black, 0 0 2px black, 0 0 1px black;
    text-align: center;
    padding: 10px 5px 0;
    display: inline-block;
}

.tech-unit img {
    width: 3vw;
    padding: 0 15px 0;
    vertical-align: text-bottom;
}

.tech-unit h2{
    font-size: 12px;
    padding: 10px;
}

.profile-pic img {
    width: 20vw;
    border-radius: 30px;
    border: 2px solid grey;
}

#about {
    background-color: white;
}

.blurb{
    width: 500px;
    font-size: 1.5em;
    text-align: center;
}

.blurb a{
    color: rgb(206, 23, 23);
}

#projects {
    margin: 10vh;
}

.projects {
    margin: 10vw;
    width: 100vw;
    text-align: center;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.dropdown img {
    border: 1px solid black;
    border-radius: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.dropdown:hover img {
    border-radius: 25px 25px 0 0;
}

.dropdown-content a {
    background-color: white;
    display: block;
    font-size: 30px;
    padding: 3px 0;
}

.dropdown-content a:hover {
    background-color: #f5f2f2;
    color:#013A6B;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0 0 25px 25px;
    margin: -5px 0 0 0;
}

.dropdown h4 {
    padding: 15px 10px;
}

.info_bar{
    background-color: lightgrey;
    padding: 3px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

h1 {
    font-size: 6.2vw;
    margin: 5px;
}

h2 {
    font-size: 4vw;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-size: 1em;
    margin: 0;
    font-weight: 100;
}

h5 {
    font-size: 0.7em;
    margin: 0;
}

.contact{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items:center;
    justify-content: center;
}

form{
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: teal;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: beige;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: darkgray;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;

}

form input {
    display:block
}

@media only screen and (min-width: 1201px) {
    .profile-pic img {
        width: 250px;
    }

    .about_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 15px;
    }

    .tech-stack {
        font-size: 12px;
    }

    .tech-stack img {
        width: 45px;
    }
}

@media only screen and (max-width: 1200px){
    .about {
        display: block;
    }

    .profile-pic {
        text-align: center;
    }

    .profile-pic img {
        width: 280px;
    }

    .blurb {
        margin: 1vh auto;
        width: 400px;
    }
    
    .tech-stack {
        text-align: center;
        font-size: 12px;
    }

    .tech-stack img {
        width: 32px;
    }

    #projects {
        height: 140vh;
    }
}

@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 2vh;
        right: 2vw;
        font-size: 3em;
        color: darkblue;
    }

    .hamburger:hover {
        color: white;
    }

    .menu-wrapper, .side-info {
        display: none;
    }

    #toggle:checked ~ .menu-wrapper {
        display: block;
    }

    #toggle:checked ~ .side-info {
        display: block;
    }

    .menu {
        display: block;
        height: 100vh;
        background-color: rgb(212, 239, 248);
        border: 1px solid black;
        width: 50vw;
    }

    a:hover {
        color:lightgray;
    }

    #toggle:checked ~ .close-menu-btn {
        display: block;
        position: absolute;
        color: red;
        right: 10px;
        top: 1vh;
        font-size: 2em;
    }

    #toggle:checked ~ .close-menu-btn:hover {
        color: orange;
    }

    .menu-list {
        display: grid;
        height: 80vh;
        margin-top: 20vh;
        width: 50vw;
        text-align: center;
        grid-auto-rows: 10vh;
        position: unset;
    }

    .socials {
        text-align: center;
        display: block;
        font-size: 1em;
        padding: 0;
        width: 50vw;
        left: 50vw;
        bottom: 15px;
    }

    .email {
        text-align: center;
        font-size: 0.5em;
        display: block;
        writing-mode: unset;
        width: 50vw;
        left: 50vw;   
        bottom: 0px; 
    }

    h1 {
        font-size: 50px;
        margin: 4.5px;
    }
    
    h2 {
        font-size: 32px;
        margin: 0;
    }

    h3 {
        font-size: 16px;
        margin: 0;
    }
}