@font-face {
    font-family: 'Denyut';
    src: url("./assets/Denyut.woff2") format("woff2");
}

@font-face {
    font-family: 'rs6';
    src: url("./assets/rs6.woff2") format("woff2");
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari and Opera */
}

body {
    font-family: "Denyut" !important;
    background-image: -webkit-linear-gradient(20deg, #b6b8b9 50%, #e4ebf3 50%);
    color: #093a52;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

input {
    display: none;
}

#hamburger {
    display: none;
}

#menu {
    display: block;
    position: absolute;
    text-decoration: none;
    font-size: 2em;
    padding: 0;
    margin: 0;
    right: 1em;
    top: 1em;
    word-spacing: 1em;
}

.link {
    text-decoration: none;
    color: #093a52;
}

.link:hover {
    color: cadetblue;
}

#side_info {
    display: block;
    position: fixed;
    text-decoration: none;
    font-size: 2em;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 1em;
}

#email {
    position: absolute;
    font-size: 1em;
    right: 0.75em;
    bottom: 4.5em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#socials {
    display: grid;
    position: absolute;
    font-size: 0.5em;
    right: 1em;
    bottom: 0;
}

.socials_img {
    width: 3em;
}

#close_menu_btn {
    display: none;
}

section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my_name {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
}

#flair {
    font-size: 3em;
    text-align: center;
}

#about {
    height: 60em;
    display: block;
    background-color: white;
}

.section_header{
    font-size: 3.5em;
    padding: 2em 0 1em;
    text-align: center;
}

#about_main_content {
    display: flex;
    font-size: 1em;
    justify-content: center;
}

#profile_pic_wrapper {
    display: flex;
}

#profile_pic{
    width: 18em;
    margin: auto 0;
    border-radius: 2em;
    border: 0.1em solid grey;
}

#about_text_wrapper {
    font-family: "rs6";
    flex-direction: column;
    margin: auto 0 auto 2em;
}

#about_text {
    width: 20em;
    font-size: 1.8em;
    text-align: left;
}

.text_link {
    color: #CE1717;
    text-decoration: underline;
}

.text_link:hover {
    color: #CE8E17;
}

.section_footer {
    padding: 6em 0 0;
    text-align: center;
}

#location {
    padding: 0 0 0.3em;
    font-size: 2.5em;
}

#city {
    font-family: "rs6";
    font-size: 1.8em;
}

#projects {
    display: block;
    height: 50em;
}

#projects_list {
    margin: 0 auto;
    padding: 0 5em;
    text-align: center;
}

.project {
    display: inline-block;
    position: relative;
    width: 18.75em;
    height: 12.5em;
    margin: 0.5em;
}

.project_preview {
    border: 0.1em solid black;
    border-radius: 1.5em;
    width: 18.75em;
    height: 12.5em;
}

.project:hover .project_preview{
    border-radius: 1.5em 1.5em 0 0;
}

.dropdown_content {
    font-family: "rs6";
    display: none;
    position: absolute;
    border: 0.1em solid black;
    background-color: white;
    height: 21em;
    width: 18.75em;
    padding: 1em 0 0;
    margin: -0.3em 0 0;
    border-radius: 0 0 1.5em 1.5em;
    z-index: 1;
}

.project:hover .dropdown_content{
    display: block;
}

.project_link {
    height: 2.5em;
    vertical-align: center;
    font-size: 2em;
}

.percent_bar {
    width: 15em;
    border-radius: 0.3em;
}

.green{
    color: green;
}

.purple{
    color: purple;
}

.red{
    color: red;
}

.dropdown-blurb {
    padding: 0.5em 0.5em;
    font-size: 1.2em;
}

.github_unit{
    text-align: center;
    display: inline-block;
}

.github_logo {
    width: 4em;
    padding: 0 1em 0.5em;
    vertical-align: text-bottom;
    border: none;
}

.github_name{
    font-family: "rs6";
    font-size: 0.9375em;
}

#skills {
    font-size: 2.5em;
}

#skill_list{
    color: #093a52;
    display: inline-block;
    width: 50em;
    margin: 1em auto;
    padding: 0.5em 0;
    text-align: center;
}

.tech_unit {
    color: white;
    text-shadow: 0 0 0.3em black, 0 0 0.2em black, 0 0 0.1em black;
    text-align: center;
    display: inline-block;
}

.tech_logo {
    width: 3em;
    padding: 0 1.2em 0;
    vertical-align: text-bottom;
}

.tech_name {
    font-family: "rs6";
    font-size: 1.2em;
    padding: 0.5em 0 0;
}

#contact{
    background: white;
    display: block;
    height: 64em;
}

#contact_text{
    font-family: "rs6";
    width: 30em;
    margin: 0 auto 2em;
    font-size: 25px;
    text-align: center;
}

form {
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em;
    width: 50em;
    margin: 0 auto 6em;
    border-radius: 0.5em;
    border: 0.1em solid darkgray;
}

form input, form textarea{
    border: 0;
    margin: 0.5em 0;
    padding: 0.5em;
    outline: none;
    background: beige;
    font-size: 1em;
}

#contact_message{
    height: 12.5em;
}

form button{
    padding: 0.5em;
    background: darkgray;
    color: white;
    font-size: 1em;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 10em;
    margin: 1em auto;
    border-radius: 2em;
    font-family: 'rs6';
    font-size: 1em;
}

form input {
    display: block;
    font-family: 'rs6';
    font-size: 1.5em;
    text-align: center;
}

@media only screen and (max-width: 90.1875em) { /* 1443px */
    #projects {
        height: 64em;
    }
}

@media only screen and (max-width: 70em){ /* 1120px */
    #about {
        height: 81em;
    }

    .section_header {
        padding: 1.5em 0 1em;
    }

    #about_main_content {
        display: block;
    }

    #profile_pic {
        margin: 0 auto;
    }

    #about_text {
        text-align: center;
        margin: 1em auto;
    }

    .section_footer {
        padding: 3em 0 0;
    }

    #projects .section_footer {
        padding: 6em 0 0;
    }

    #contact_text {
        width: 25em;
    }

    form {
        width: 35em;
    }
}

@media only screen and (max-width: 49.875em) { /* 798px */
    #hamburger {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 3em;
        color: #093a52;
    }

    #hamburger:hover {
        color: cadetblue;
    }

    #menu, 
    #side_info {
        display: none;
    }

    #toggle:checked ~#menu{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #toggle:checked ~#side_info  {
        display: block;
    }

    #toggle:checked ~ #close_menu_btn {
        display: block;
        position: fixed;
        /* color: #CE1717; */
        color: white;
        margin: 0.5em;
        padding: 0.3em;
        border-radius: 0.5em;
        border: 0.1em solid #CE1717;
        background-color: #CE1717;
        right: 0.5em;
        top: 0.5em;
        font-size: 1em;
        z-index: 2;
    }

    #toggle:checked ~ #close_menu_btn:hover {
        color: black;
    }

    #menu {
        position: fixed;
        background-color: white;
        border-left: 0.01em solid black;
        width: 10em;
        z-index: 2;
        top: 0;
        right: 0;
    }

    #link_list {
        display: block;
        text-align: center;
        height: 16em;
        padding: 1em 0;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 4em;
        width: 10em;
    }

    #side_info{
        z-index: 2;
    }

    #email {
        display: block;
        position: fixed;
        text-align: center;
        writing-mode: unset;
        width: 11em;
        margin: 0;
        padding: 0;
        right: 0;
        bottom: 1em; 
        font-size: 0.8em;
    }

    #email .link {
        height: 0;
    }

    #socials {
        display: block;
        position: fixed;
        text-align: center;
        font-size: 1em;
        width: 10em;
        bottom: 2em;
        right: 0;
    }

    #socials a{
        text-decoration: none;
    }

    .socials_img {
        width: 1.5em;
    }

    #projects {
        height: 90em;
    }

    .project_link{
        height: 1em;
    }

    #skill_list {
        width: unset;
        margin: 1em 0 0;
        padding: 0;
    }
}

@media only screen and (max-width: 43.75em) { /* 700px */
    #flair{
        font-size: 2.5em;
    }

    #about {
        height: 76em;
    }

    .section_header {
        font-size: 3em
    }

    #profile_pic {
        width: 15em;
    }

    #about_text_wrapper {
        margin: auto 0;
    }
    
    #about_text {
        width: 15em;
        font-size: 1.5em;
    }

    #city {
        font-size: 1.8em;
    }

    .tech_unit {
        margin: 0.5em;
    }

    #contact_text {
        font-size: 1.5em;
        width: 15em;
    }

    form {
        width: 20em;
        margin: 0 auto 2em;
        padding: 1em;
    }

    #contact {
        height: 55em;
    }

    #contact_message {
        height: 8em;
    }
}

@media only screen and (max-width: 28.125em) { /* 450px */
    #menu {
        width: 7em;
    }

    #email {
        margin: 0;
        padding: 0;
        right: 0;
        bottom: 2em; 
        font-size: 0.6em;
    }

    #socials {
        width: 7em;

    }

    #my_name{
        font-size: 5em;
    }

    #flair{
        font-size: 2em;
    }

    #about {
        height: 70em;
    }

    .section_header {
        font-size: 2.5em;
    }

    #profile_pic {
        width: 15em;
    }

    #about_text {
        width: 15em;
        font-size: 1.5em;
    }

    .section_footer {
        font-size: 0.8em;
    }

    #projects {
        height: 85em;
    }

    #projects_list {
        padding: 0;
    }

    .project, .project_preview {
        width: 20em;
        height: 12.5em;
    }

    .dropdown_content {
        height: 20em;
        width: 20em;
        padding: 0.5em 0;
    }

    .project_link {
        height: 1em;
        font-size: 2em;
        margin: 0;
        padding: 0;
    }

    .percent_bar {
        width: 15em;
        border-radius: 0.1em;
    }

    #skills {
        font-size: 2.5em;
    }

    #skill_list {
        margin: 1em 1em 0;
    }

    #projects .section_footer {
        padding: 6em 0 0;
    }

    #contact {
        height: 50em;
    }

    #contact_text {
        font-size: 1.5em;
        width: 15em;
    }

    form {
        width: 22em;
        padding: 0.5em;
    }

    input {
        height: 0.3em;
    }

    #contact_message {
        height: 7.5em;
    }

}

@media only screen and (max-width: 25em) { /* 400px */

    #about {
        height: 60em;
    }

    #profile_pic {
        width: 12em;
    }

    #about_text {
        font-size: 1.2em;
    }

    #contact_text {
        font-size: 1.5em;
        width: 12em;
    }

    form {
        width: 18em;
        padding: 0.5em;
    }
}

@media only screen and (max-width: 21.875em) { /* 350px */
    .project, .project_preview {
        width: 18em;
        height: 12em;
    }

    .dropdown_content {
        width: 18em;
        height: 20em;
        padding: 0.5em 0;
    }

    .project_link {
        height: 1em;
        font-size: 1.8em;
        margin: 0;
        padding: 0;
    }

    form {
        width: 16em;
        padding: 0.5em;
    }

    #contact_message {
        height: 7em;
    }
}

@media only screen and (max-width: 18.75em) { /* 300px */

    #about {
        height: 62em;
    }

    #profile_pic {
        width: 10em;
    }

    #about_text {
        width: 12em;
        font-size: 1.1em;
    }

    #projects {
        height: 75em;
    }

    .project, .project_preview {
        width: 14em;
        height: 9em;
    }

    .dropdown_content {
        width: 14em;
        height: 22em;
        padding: 0.5em 0;
    }

    .project_link {
        font-size: 1.4em;
    }

    .percent_bar {
        width: 12em;
    }

    #projects .section_footer {
        padding: 5em 0 0;
    }

    #contact {
        height: 50em;
    }

    #contact_text {
        font-size: 1.3em;
        width: 10em;
    }

    form {
        width: 13em;
        padding: 0.5em;
    }

    input {
        height: 0.5em;
    }

    #contact_message {
        height: 7.5em;
    }
}